<%- include('../includes/head/index.ejs') %>

  <body>
    <div id="wrapper" class="is-collapse is-active">
      <!-- === HEADER - START === -->
      <%- include('../includes/header-outside-home-page-with-session/index.ejs') %>
      <!-- === HEADER - END === -->

        <!-- Main Contents -->
        <div class="main_content">
          <div class="mcontainer">
            <!-- ===============================  -->
            <!-- BANNER LOGO AND NAV DIV - START  -->
            <!-- ===============================  -->
            <!-- Profile cover -->
            <div class="profile user-profile">
              <div class="profiles_banner image-upload">
                <form action="javascript:void(0);" method="POST" id="editcompanyBanner"
                  name="editcompanyBanner" enctype="multipart/form-data" accept-charset="utf-8">
                  <label for="companyBanner">
                    <img id="companyBannerPreview" src="uploads/placeholder/banner-placeholder2.jpg" />
                  </label>
                  <input type="file" id="companyBanner" name="companyBanner" />
                  <input type="text" id="companyBannerId" name="companyBannerId" />
                </form>
              </div>
              <div class="profiles_content">
                <form action="javascript:void(0);" method="POST" id="editcompanyLogo" name="editcompanyLogo"
                  enctype="multipart/form-data" accept-charset="utf-8">
                  <div class="profile_avatar image-upload">
                    <div class="profile_avatar_holder">
                      <label for="companyLogo">
                        <img id="companyLogoPreview" src="uploads/placeholder/logo-placeholder2.jpg" />
                      </label>
                    </div>

                    <input type="file" id="companyLogo" name="companyLogo" />
                    <input type="text" id="companyLogoId" name="companyLogoId" />
                    <div class="user_status status_online"></div>
                    <div class="icon_change_photo" hidden>
                      <ion-icon name="camera" class="text-xl"></ion-icon>
                    </div>
                  </div>
                </form>

                <div class="profile_info">
                  <h1 id="displayBusinessNameH1" class="orbitron"> </h1>
                  <p style="text-align: center;" id="displayBusinessTagLineH1"> </p>
                </div>

              </div>

              <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                <nav class="responsive-nav pl-3">
                  <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                    <li class="active" id="liTabCompanyDetails"><a href="#" id="tabCompanyDetails">About</a></li>
                    <!-- <li id="liTabMediaFiles"><a href="#" id="tabMediaFiles">Brochure </a></li>
                    <li id="liTabVideos"><a href="#" id="tabVideos">Videos</a></li>
                    <li><a href="#0">Dashboard</a></li>
                    <li id="liTabSettings"><a href="#0" id="tabSettings">Settings</a></li> -->
                  </ul>
                </nav>

                <!-- button actions -->
                <!-- === button_action.ejs - START === -->
                <%- include('../includes/profile/button_action.ejs') %>
                <!-- === button_action.ejs - END === -->

              </div>

            </div>
            <!-- =============================  -->
            <!-- BANNER LOGO AND NAV DIV - END  -->
            <!-- =============================  -->
            <form action="javascript:void(0);" method="POST" id="editMediumScaleForm" name="editMediumScaleForm"
            enctype="multipart/form-data" accept-charset="utf-8">
              <div class="lg:flex lg:space-x-10 mt-2.5">
                <!-- ===============================  -->
                <!-- Company Details Display - START  -->
                <!-- ===============================  -->
                <div class="lg:w-2/4 w-full mb-2">
                  <div class="bg-white rounded-md lg:shadow-md shadow">
                    <div class="border-b flex items-center justify-between p-4">
                      <div>
                        <h2 class="text-lg font-semibold">Company Details
                          <a class="hover:border-gray-100" href="#">
                            <span class="icon-feather-info" style="font-size: 16px; font-family: inherit" uk-tooltip="title: Company Details Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.; pos: right">
                            </span>
                          </a>
                        </h2>
                      </div>
                      <div class="text-right">
                      </div>
                    </div>
                    <div class="flex-1 space-y-4 p-6">
                      <div id="new">
                        <label for=""> Company Name: </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="companyName" name="companyName">
                        <p class="text-red-500" id="companyNameValidation"></p>
                      </div>
                      <!-- <div>
                        <label for=""> Company Tag Line: </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="traderCompanyTagline" name="traderCompanyTagline">
                        <p class="text-red-500" id="traderCompanyTaglineValidation"></p>
                      </div> -->
                      <div>
                        <label for=""> Business Website: </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="businessWebsite" name="businessWebsite">
                        <p class="text-red-500" id="businessWebsiteValidation"></p>
                      </div>
                      <div>
                        <label for=""> Business Email Address: </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="businessEmailAddress" name="businessEmailAddress">
                        <p class="text-red-500" id="businessEmailAddressValidation"></p>
                      </div>
                      <div>
                        <label for=""> Business Contact Number: </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="businessContactNumber" name="businessContactNumber">
                        <p class="text-red-500" id="businessContactNumberValidation"></p>
                      </div>
                      <label for=""> Social Media / Messaging App </label>
                      <div>
                        <select id="businessSocialMediaContactType" name="businessSocialMediaContactType" class="shadow-none selectpicker with-border ">
                          <option value="1">Viber</option>
                          <option value="2">Wechat</option>
                          <option value="3">Whatsapp</option>
                        </select>
                      </div>
                      <label for=""> Mobile Number </label>
                      <div>
                        <input type="text" placeholder="Mobile Number" class="shadow-none with-border" id="businessSocialMediaContactNumber" name="businessSocialMediaContactNumber">
                        <p class="text-red-500" id="businessSocialMediaContactNumberValidation"></p>
                      </div>
                      <div>
                        <label for="">Business Country Location: </label>
                        <select id="businessCountryLocation" name="businessCountryLocation" class="shadow-none selectpicker with-border ">
                        </select>
                        <p class="text-red-500" id="businessCountryLocationValidation"></p>
                      </div>
                      <div>
                        <label for="">Business States Location: </label>
                        <select id="businessStatesLocation" name="businessStatesLocation" class="shadow-none selectpicker with-border ">
                        </select>
                        <p class="text-red-500" id="businessStatesLocationValidation"></p>
                      </div>
                      <div>
                        <label for="">Business City Location: </label>
                        <select id="businessCityLocation" name="businessCityLocation" class="shadow-none selectpicker with-border ">
                        </select>
                        <p class="text-red-500" id="businessCityLocationValidation"></p>
                      </div>
                      <div>
                        <label for=""> Languages of communication: </label>
                        <select class="selectpicker" id="language" name="language" multiple>
                        </select>
                        <p class="text-red-500" id="languageValidation"></p>
                      </div>
                      <div class="col-span-2" style="display:none;">
                        <label for="" class="mb-0 ml-2 text-gray-600 text-sm"> Languages of communication </label>
                        <textarea type="text" rows="5" class="shadow-none with-border"
                          id="currentLanguagesOfCommunication" name="currentLanguagesOfCommunication" placeholder=""
                          class=""></textarea>
                      </div>
                    </div>
                    <!-- =============================  -->
                    <!-- Company Details Display - END  -->
                    <!-- =============================  -->
                  </div>
                </div>
                <!-- ===============================  -->
                <!-- Company Details Display - END  -->
                <!-- ===============================  -->
    
                <!-- ===============================  -->
                <!-- Company Representative - START  -->
                <!-- ===============================  -->
                <div class="lg:w-2/4 w-full" id="">
                  <!-- <div class="card mb-2" style="height: 1160px;"> -->
                  <!-- <div class="card mb-2" id="companyRepresentativeDiv"> -->
                  <div class="bg-white rounded-md lg:shadow-md shadow">
                    <div class="border-b flex items-center justify-between p-4">
                      <div>
                        <h2 class="text-lg font-semibold">Representative
                          <a class="hover:border-gray-100" href="#">
                            <span class="icon-feather-info" style="font-size: 16px; font-family: inherit" uk-tooltip="title: Representative Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.; pos: right">
                            </span>
                          </a>
                        </h2>
                      </div>
                      <div class="text-right">
                        <button class="p-2 px-4 rounded bg-gray-50 text-red-500" onclick="backProfile();"> Cancel
                        </button>
                        <button type="button" class="button bg-blue-700" id="btnUpdateMediumScale"> Save </button>
                      </div>
                    </div>
                    <div class="flex-1 space-y-4 p-6">
                      <div>
                        <label for=""> First Name </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="firstName" name="firstName">
                        <p class="text-red-500" id="firstNameValidation"></p>
                      </div>
                      <div>
                        <label for=""> Last Name </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="lastName" name="lastName">
                        <p class="text-red-500" id="lastNameValidation"></p>
                      </div>
                      <div>
                        <label for=""> Middle Name </label>
                        <input type="text" placeholder="" class="shadow-none with-border" id="middleName" name="middleName">
                        <p class="text-red-500" id="middleNameValidation"></p>
                      </div>
                      <div>
                        <label for="">Country of Residence: </label>
                        <select id="country" name="country" class="shadow-none selectpicker with-border ">
                        </select>
                        <p class="text-red-500" id="countryValidation"></p>
                      </div>
                      <div>
                        <label for=""> States of Residence: </label>
                        <select id="states" name="states" class="shadow-none selectpicker with-border ">
                        </select>
                        <p class="text-red-500" id="statesValidation"></p>
                      </div>
                      <div>
                        <label for=""> City of Residence: </label>
                        <select id="city" name="city" class="shadow-none selectpicker with-border ">
                        </select>
                        <p class="text-red-500" id="cityValidation"></p>
                      </div>
                      <label for=""> Social Media / Messaging App (Optional) </label>
                      <div>
                        <select id="personalSocialMediaContactType" name="personalSocialMediaContactType" class="shadow-none selectpicker with-border ">
                          <option value="1">Viber</option>
                          <option value="2">Wechat</option>
                          <option value="3">Whatsapp</option>
                        </select>
                      </div>
                      <label for=""> Mobile Number (Optional)</label>
                      <div>
                        <input type="text" placeholder="Mobile Number" class="shadow-none with-border" id="personalSocialMediaContactNumber" name="personalSocialMediaContactNumber">
                        <p class="text-red-500" id="personalSocialMediaContactNumberValidation"></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ===============================  -->
                <!-- Company Representative - END  -->
                <!-- ===============================  -->
              </div>
            </form>
  



          </div>
        </div>


    </div>
    <%- include('../includes/scripts/index.ejs') %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.js"></script>
      <script src="assets/js/edit-medium-scale-profile.js"></script>
      <script src="assets/js/edit-medium-scale-profile-countries.js"></script>
      <script src="assets/js/getBusinessCountryLocationToBeEditAndOptions.js"></script>
      <script src="assets/js/getBusinessStatesLocationToBeEditAndOptions.js"></script>
      <script src="assets/js/getBusinessCityLocationToBeEditAndOptions.js"></script>

      <script type="text/javascript">
        function calcTime(city, offset) {
          var b = new Date()
          var utc = b.getTime() + (b.getTimezoneOffset() * 60000);
          var nd = new Date(utc + (3600000 * offset));
          return "the local time of " + city + " is" + nd.toLocaleString();

        }

        //get specific country time
        console.log(calcTime('argentina', '-3'))
        console.log(calcTime('afganistan', '+4.3'))
        console.log(calcTime('Denmark', '+2'))
        console.log(calcTime('japan', '+9'))


        // ----------------------------------------------------
        // for profile_dropdown [START]
        // ----------------------------------------------------
        let sessionId =  `<%= data.id%>`;
        let sessionUuid =  `<%= data.uuid%>`;
        let sessionType =  `<%= data.type %>`;
        let sessionFirstName =  `<%= data.first_name %>`;
        let sessionLastName =  `<%= data.last_name%>`;
        let sessionEmail =  `<%= data.email %>`;
        
        sessionFirstName ? document.getElementById('user-name').innerHTML = sessionFirstName + ' ' + sessionLastName : '';
        if (sessionType == 1) {
            $('#upgrade-account').prop('disabled', true);
            document.getElementById('upgrade-account').style.display = 'none';
            document.getElementById('user-type').innerHTML = 'Trader';
        }
        if (sessionType == 2) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Large Scale';
        }
        if (sessionType == 3) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Medium Scale';
        }
        if (sessionType == 4) {
            document.getElementById('user-type').innerHTML = 'Small Scale';
        }

        // ----------------------------------------------------
        // for profile_dropdown [END]
        // ----------------------------------------------------
      </script>

  </body>

  </html>