<%- include('../includes/head/index.ejs') %>

  <body>
    <div id="wrapper" class="is-collapse is-active">
      <!-- === HEADER - START === -->
      <%- include('../includes/header-outside-home-page-with-session/index.ejs') %>
      <!-- === HEADER - END === -->

        <!-- Main Contents -->
        <div class="main_content">
          <div class="mcontainer">
            <!-- ===============================  -->
            <!-- BANNER LOGO AND NAV DIV - START  -->
            <!-- ===============================  -->
            <!-- Profile cover -->
            <div class="profile user-profile">
              <div class="profiles_banner image-upload">
                <form action="javascript:void(0);" method="POST" id="editcompanyBanner"
                  name="editcompanyBanner" enctype="multipart/form-data" accept-charset="utf-8">
                  <label for="companyBanner">
                    <img id="companyBannerPreview" src="uploads/placeholder/banner-placeholder2.jpg" />
                  </label>
                  <input type="file" id="companyBanner" name="companyBanner" />
                  <input type="text" id="companyBannerId" name="companyBannerId" />
                </form>
              </div>
              <div class="profiles_content">
                <form action="javascript:void(0);" method="POST" id="editcompanyLogo" name="editcompanyLogo"
                  enctype="multipart/form-data" accept-charset="utf-8">
                  <div class="profile_avatar image-upload">
                    <div class="profile_avatar_holder">
                      <label for="companyLogo">
                        <img id="companyLogoPreview" src="uploads/placeholder/logo-placeholder2.jpg" />
                      </label>
                    </div>

                    <input type="file" id="companyLogo" name="companyLogo" />
                    <input type="text" id="companyLogoId" name="companyLogoId" />
                    <div class="user_status status_online"></div>
                    <div class="icon_change_photo" hidden>
                      <ion-icon name="camera" class="text-xl"></ion-icon>
                    </div>
                  </div>
                </form>

                <div class="profile_info">
                  <h1 id="displayBusinessNameH1" class="orbitron"> </h1>
                  <p style="text-align: center;" id="displayBusinessTagLineH1"> </p>
                </div>

              </div>

              <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                <nav class="responsive-nav pl-3">
                  <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                    <li class="active" id="#"><a href="#" id="">About</a></li>
                    <!-- <li id="#"><a href="#" id="#">Brochure </a></li>
                    <li id="#"><a href="#" id="#">Videos</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li id="#"><a href="#" id="tabSettings">Settings</a></li> -->
                  </ul>
                </nav>

                <!-- button actions -->
                <!-- === button_action.ejs - START === -->
                <%- include('../includes/profile/button_action.ejs') %>
                <!-- === button_action.ejs - END === -->

              </div>
            </div>
            <!-- =============================  -->
            <!-- BANNER LOGO AND NAV DIV - END  -->
            <!-- =============================  -->

             <!-- ===========================  -->
          <!-- Member Details Div - START  -->
          <!-- ===========================  -->
          <div class="bg-white rounded-md lg:shadow-md shadow">
            <div class="border-b flex items-center justify-between p-4">
              <div>
                <h2 class="text-lg font-semibold">Member Details
                  <a class="hover:border-gray-100" href="#">
                    <span class="icon-feather-info" style="font-size: 16px; font-family: inherit" uk-tooltip="title: Member Details Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.; pos: right">
                    </span>
                  </a>
                </h2>
              </div>
              <div class="text-right">
                <button class="button blue-white-hover" type="button" id="btnCompanyDetailsEdit"
                  style="display: none;">Edit</button>
                <button class="button blue-white-hover" type="button" onclick="editProfile()"> Update Profile </button>
              </div>
              <div class="text-right" id="btnForUpdateCompanyDetails" style="display: none;">
                <button class="p-2 px-4 rounded bg-gray-50 text-red-500" id="btnCompanyDetailsCancelEdit"> Cancel
                </button>
                <button type="button" class="button bg-blue-700"> Save </button>
              </div>
            </div>
            <div class="flex-1 space-y-4 p-6">
              <!-- ===============================  -->
              <!-- Member Details - START  -->
              <!-- ===============================  -->
              <p class="text-xs text-gray-400 mb-2">First Name</p>
              <p id="firstName"></p>
      
              <p class="text-xs text-gray-400 mb-2">Last Name</p>
              <p id="lastName"></p>
      
              <p class="text-xs text-gray-400 mb-2">Middle Name</p>
              <p id="middleName"></p>
      
              <p class="text-xs text-gray-400 mb-2">Address</p>
              <p id=""> 
                <span id="city"></span>
                <span id="states"></span>
                <span id="country"></span>
              </p>
      
              <p class="text-xs text-gray-400 mb-2"> Language Of Communication </p>
              <div class="flex flex-wrap gap-2" id="languageOfComm"></div>

              <p class="text-xs text-gray-400 mb-2">Email Address</p>
              <div class="flex flex-wrap gap-2" id="emailAddress"></div>

              <p class="text-xs text-gray-400 mb-2">Social Media / Messaging App</p>
              <div class="flex flex-wrap gap-2" id="socialMediaContactType"></div>

              <p class="text-xs text-gray-400 mb-2">Social Media / Messaging App Mobile Number</p>
              <div class="flex flex-wrap gap-2" id="socialMediaContactNumber"></div>
              <!-- =============================  -->
              <!-- Member Details - END     -->
              <!-- =============================  -->

            </div>
          </div>
          <!-- ===========================  -->
          <!-- Member Details Div - END  -->
          <!-- ===========================  -->

          </div>
        </div>


    </div>
    <%- include('../includes/scripts/index.ejs') %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.js"></script>
      <!-- <script src="assets/js/traders-profile.js"></script>  -->
      <script src="assets/js/small-scale-profile.js"></script>
      <script src="assets/js/small-scale-medias.js"></script>
      <script src="assets/js/global-countries.js"></script>
      <script src="assets/js/getStatesNameToBeDisplayUsingCode.js"></script>
      <script src="assets/js/getCityNameToBeDisplayUsingCode.js"></script>
      <script src="assets/js/image-link-checker.js"></script>
      
      

      <script type="text/javascript">
        function calcTime(city, offset) {
          var b = new Date()
          var utc = b.getTime() + (b.getTimezoneOffset() * 60000);
          var nd = new Date(utc + (3600000 * offset));
          return "the local time of " + city + " is" + nd.toLocaleString();

        }

        //get specific country time
        console.log(calcTime('argentina', '-3'))
        console.log(calcTime('afganistan', '+4.3'))
        console.log(calcTime('Denmark', '+2'))
        console.log(calcTime('japan', '+9'))

        // ----------------------------------------------------
        // for profile_dropdown [START]
        // ----------------------------------------------------
        let sessionId =  `<%= data.id%>`;
        let sessionUuid =  `<%= data.uuid%>`;
        let sessionType =  `<%= data.type %>`;
        let sessionFirstName =  `<%= data.first_name %>`;
        let sessionLastName =  `<%= data.last_name%>`;
        let sessionEmail =  `<%= data.email %>`;
        
        sessionFirstName ? document.getElementById('user-name').innerHTML = sessionFirstName + ' ' + sessionLastName : '';
        if (sessionType == 1) {
            $('#upgrade-account').prop('disabled', true);
            document.getElementById('upgrade-account').style.display = 'none';
            document.getElementById('user-type').innerHTML = 'Trader';
        }
        if (sessionType == 2) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Large Scale';
        }
        if (sessionType == 3) {
            $('#upgrade-account').prop('disabled', false);
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Medium Scale';
        }
        if (sessionType == 4) {
            document.getElementById('upgrade-account').style.display = 'block';
            document.getElementById('user-type').innerHTML = 'Small Scale';
        }

        // ----------------------------------------------------
        // for profile_dropdown [END]
        // ----------------------------------------------------
        
      </script>

  </body>

  </html>